__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
uploads/*
!uploads/.gitkeep
outputs/audio/*
!outputs/audio/.gitkeep
outputs/confusion_matrix.png
models/*.keras
models/*.h5
debug/*
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
.DS_Store
Thumbs.db
